<div class="text-center">
    <h1 class="display-4">Informações</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<br />
<hr />
@Html.ActionLink("Home", "Index", "Home", new { area = "" }) |
@Html.ActionLink("Produtos", "Index", "Produtos", new { area = "Produtos" }) |
@Html.ActionLink("Informações", "Informacoes", "Admin", new { area = "Admin" })